.git
.venv
.venv-ai
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.idea
.vscode
root/video_platform/__pycache__
root/video_platform/.ipynb_checkpoints
root/video_platform/logs
root/video_platform/uploads
root/video_platform/video_data
root/video_platform/static/uploads
root/video_platform/static/video_data
